<ion-header>
  <ion-toolbar>
    <ion-title>Pokemons</ion-title>

    <!-- Search bar -->
    <ion-searchbar slot="start" debounce="300" (ionInput)="filterPokemons($event)" placeholder="Pesquisar Pokémon">
    </ion-searchbar>

    <!-- Favorite page button -->
    <ion-buttons slot="end">
      <ion-button routerLink="/favorites">
        Ver Favoritos
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let poke of filteredPokemons" [routerLink]="['/details', poke.id]">
      <ion-thumbnail slot="start">
        <img [src]="poke.image" />
      </ion-thumbnail>

      <ion-label>
        {{ poke.name | titlecase }}
      </ion-label>

      <!-- Button to toggle favorite -->
      <ion-button slot="end" size="small" [color]="poke.isFavorite ? 'danger' : 'medium'"
        (click)="toggleFavorite(poke); $event.stopPropagation(); $event.preventDefault();">
        {{ poke.isFavorite ? 'Favorito' : 'Favoritar' }}
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Pagination controls -->
  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start" style="display: flex; align-items: center;">
        <!-- Previous page button -->
        <ion-button [disabled]="currentPage === 0" (click)="prevPage()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>

        <!-- Page number buttons -->
        <ng-container *ngFor="let page of getPages()">
          <ion-button [color]="currentPage === page ? 'primary' : 'medium'" (click)="goToPage(page)">
            {{ page + 1 }}
          </ion-button>
        </ng-container>

        <!-- Next page button -->
        <ion-button [disabled]="currentPage >= totalPages - 1" (click)="nextPage()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>

</ion-content>
