<ion-header>
  <ion-toolbar>
    <ion-title>{{ pokemon?.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pokemon">
  <ion-card>
    <img [src]="pokemon.sprites.front_default" />

    <ion-card-content>
      <p><strong>Height:</strong> {{ pokemon.height }}</p>
      <p><strong>Weight:</strong> {{ pokemon.weight }}</p>
      <p><strong>Base Experience:</strong> {{ pokemon.base_experience }}</p>
      <p><strong>Types:</strong> {{ getTypes() }}</p>
      <p><strong>Abilities:</strong> {{ getAbilities() }}</p>
      <p><strong>Stats:</strong> {{ getStats() }}</p>
    </ion-card-content>

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home" text="Back to list"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

  </ion-card>
</ion-content>
